DB_ROOT_PASSWORD=change_me

# Must match db/init/01-init.sql defaults unless you change that SQL too
SIPRI_DB_NAME=sipri_crm
SIPRI_DB_USER=sipri
SIPRI_DB_PASS=sipri

APP_SIPRI_DB_NAME=app_sipri
APP_SIPRI_DB_USER=app_sipri
APP_SIPRI_DB_PASS=app_sipri


